/* .banner {
  background-image: url(./urban-riders/images/Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;

  margin: 20px 20px;
  height: 100vh;
 
} */
.banner{
  height: 750px;
  width: 100%;
  background-size: cover;
  padding-top: 20px;
 
}

